In [5]:
import sqlite3
conn = sqlite3.connect('./some-data/chinook.db')
print('Connection to chinook successful.')
conn.execute("""CREATE TABLE my_children
(id INT PRIMARY KEY NOT NULL,
 first_name TEXT,
 second_name TEXT,
 age INT,
 gender TEXT
);
""")
conn.execute("""
   INSERT INTO my_children (id, first_name, second_name, age, gender)
   VALUES (1, 'Elizabeth', 'Chao', 5, 'Female')
""")
conn.execute("""
   INSERT INTO my_children (id, first_name, second_name, age, gender)
   VALUES (2, 'Marie', 'Curie', 2, 'Female')
""")
conn.execute("""
   INSERT INTO my_children (id, first_name, second_name, age, gender)
   VALUES (3, 'Louis', 'Oluande', 0, 'Male')
""")
conn.commit()
conn.close()

Connection to chinook successful.